#about {
    width: 1047px;
    height: 551.01px;
  }
  
  #dropbox {
    width: 43.99px;
    height: 42.22px;
  }
  
  #shape {
    width: 43.99px;
    height: 42.22px;
    background: #979797;
  }
  
  #airbnb {
    width: 137.19px;
    height: 42.8px;
  }
  
  #shape {
    width: 137.19px;
    height: 42.8px;
    background: #979797;
  }
  
  #google {
    width: 128.83px;
    height: 42.25px;
  }
  
  #shape {
    width: 21.26px;
    height: 21.12px;
    background: #979797;
  }
  
  #shape {
    width: 21.26px;
    height: 21.12px;
    background: #979797;
  }
  
  #shape {
    width: 20.32px;
    height: 30.58px;
    background: #979797;
  }
  
  #path {
    width: 4.54px;
    height: 30.94px;
    background: #979797;
  }
  
  #shape {
    width: 19.55px;
    height: 21.12px;
    background: #979797;
  }
  
  #path {
    width: 32.06px;
    height: 32.79px;
    background: #979797;
  }
  
  #personally {
    width: 467px;
    height: 120px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #developmen {
    width: 172px;
    height: 30px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #ifatanytim {
    width: 500px;
    height: 150px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #branding {
    width: 117px;
    height: 30px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #ashumanswe {
    width: 467px;
    height: 120px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #motion {
    width: 89px;
    height: 30px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #ofcoursemo {
    width: 467px;
    height: 90px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
  
  #uXUI {
    width: 75px;
    height: 30px;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }